.card {
  position: relative;
  width:100%;
  height: 320px;
  
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
}

.cardContent {
  background-color:#1935CA66;
  color: white;
  padding: 1rem;
  width:80%;
  margin:auto;
  text-align: center;
  position: absolute;
  bottom: 27px;
  left: 0;
  right: 0;
  border-radius: 8.44px;
}